---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>


<!--  Comment: Code for switching font types
  <!-- Playfair + Raleway -->
  <body class="heading-playfair body-raleway">
  
  <!-- Poppins + Raleway -->
  <body class="heading-poppins body-raleway">
  
  <!-- Playfair + Lato -->
  <body class="heading-playfair body-lato">
  
  <!-- Poppins + Lato -->
  <body class="heading-poppins body-lato"> -->


  <body class="heading-poppins body-raleway">

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
